.aside{
    width: 100%;
    height: 0;
    position: fixed;
    top:0;
    left: 0;
    z-index:1;
    overflow: hidden; 
    background-color: #191919;
}
.show-nav{
    height: 100%;
    overflow: visible;

}

.asidewrapper{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.logo-section{
    min-height: 32vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: black;
    color: white;
}
.logo{
    display: grid;
    place-items: center;
    text-decoration: none;
    background-color: transparent;
}
.logo img{
    width: 150px;
    height: auto;
    border: none;
}
.logo span{
    font-size:  1.7rem;
    color: white;

}
.logo-section > span{
    margin-top: 25px;
    font-size: 17px;
    font-family: 'Times New Roman' Times, serif;
}

.nav-links a{
    display: block;
    text-align: center;
    line-height: 3rem;
    text-decoration: none;
    color: rgb(123, 119, 119)
}

.nav-links a:hover{
    color: rgb(21, 216, 177);
}

.nav-links a::before{
    content: "";
    width: 100%;
    height: 1px;
    position: absolute;
    left: 0;
    background-color: #2d2d2e;
}

.social-icons{
    list-style: none;
    display: flex;
    margin-bottom: 30px;
    justify-content: space-between;
    
}

.social-icons li{
    width: 50px;
    font-size: 3rem;
}
.social-icons li a{
    text-decoration: none;
    color: #909096;
    
}
.social-icons li a:hover{
    color:rgb(21, 216, 177);
}

@media screen and (min-width: 950px){
    .aside{
        width: 10%;
        height: 100%;
    }
    
    .asidewrapper{
        height: 80%;
    }
    .logo-section{
        height: 25vh;
    }
    
}
