@import url('https://fonts.googleapis.com/css2?family=La+Belle+Aurore&display=swap');

.section-home{
    min-height: 100vh;
    display: flex;
    align-items: center;
    padding-left: 1.5rem;
}
.img-home{
    width: 70px;
    height: 100px;
    margin-left: 10px;
    background-color: transparent;
}
.text-zone h1{
    font-size: 3rem;
    line-height: 45px;
    letter-spacing: -3px;
    position: relative;
}
.text-zone h1::before{
    content: '<h1>';
    position: absolute;
    top: -80px;
    left: -10px;
    font-size: 1.2rem;
    font-family: 'La Belle Aurore', cursive;
    color: #666565;
    letter-spacing: 3px;
}
.text-zone h1::after{
    content: '</h1>';
    position: absolute;
    bottom: -40px;
    right: -70px;
    font-size: 1.2rem;
    font-family: 'La Belle Aurore', cursive;
    color: #666565;
    letter-spacing: 3px;
}
.gray-text {
    color: #8d8d8d;
    display: block;
    font-size: 1.6rem;
    letter-spacing: 4px;
    margin-top: 3rem;
    position: relative;
  }
  .gray-text::before{
    content: '<p>';
    position: absolute;
    top: -35px;
    left: -20px;
    font-size: 1.2rem;
    font-family: 'La Belle Aurore', cursive;
    color: #666565;
    letter-spacing: 3px;
}
.gray-text::after{
    content: '</p>';
    position: absolute;
   bottom: -35px;
    left: -20px;
    font-size: 1.2rem;
    font-family: 'La Belle Aurore', cursive;
    color: #666565;
    letter-spacing: 3px;
}

  .contact-button{
    margin-top: 40px;
    margin-left: 20px;
    text-decoration: nome;
    text-align: center;
    width: 300px;
    max-width: 350px;
    height: 60px;
    display: block;
    line-height: 40px;
    letter-spacing: 3px;
    position: relative;
    background-color: transparent;
    border: none;
    color: #08fdd0;
  }

  .contact-button::after{
    content: '<button>';
    position: absolute;
    top: -35px;
    left: 0px;
    font-size: 1.2rem;
    font-family: 'La Belle Aurore', cursive;
    color: #666565;
    letter-spacing: 3px;
}
.contact-button::before{
    content: '</button>';
    position: absolute;
    top: 60px;
    left: 13rem;
    font-size: 1.2rem;
    font-family: 'La Belle Aurore', cursive;
    color: #666565;
    letter-spacing: 3px;
}
.contact-button div{
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    transition: all .3s ease-in-out;
}

.contact-button span.bg{
    position: absolute;
    width: 0%;
    height: 100%;
    left: -5px;
    top:0;
    transition: all .3s ease-in-out;  
    background-color: #08fdd0;
    transform: skewX(-19deg);
}
.contact-button:hover span.bg{
    width: 110%;
}

.contact-button span.base{
    width: 100%;
    height: 100%;
    position:absolute;
    left: 0;
    border: 1px solid #08fdd0;
    box-sizing: border-box;
}
.contact-button span.text{
    font-size: 1.6rem;
    position: absolute;
    align-items: center;
    width: 100%;
    height: 100%;
    top: 10px;
    left: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

.contact-button:hover span.text{
    color: black;
}

.scroll-down{
    position: absolute;
    right: -20px;
    bottom: 30px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: rotate(90deg);
    display: block;
    font-size: 14px;

}
.scroll-down--left{
    left: -30px;
    right: auto;
}
.scroll-down span{
    display: inline-block;
    animation: scroll .5s linear infinite alternate-reverse;
}
@keyframes scroll{
    0%{
        transform:  translateX(-7px);
    }
    100%{
        transform: translateX(7px);
    }
}
.scroll-down-icon{
    transform: rotate(270deg);
    margin-left: 10px;
}
@media screen and (min-width: 1200px){
    .section-home{
        margin-left: 15rem;
    }
    
    .scroll-down--left{
        left: 13rem;
        right: auto;
    }
    .text-zone h1{
        font-size: 8rem;
        line-height: 130px;
        letter-spacing: -6px;

    }
    .img-home{
        width: 120px;
        height: 150px;
        margin-left: 10px;
        background-color: transparent;
    }
    
}