.section-about{
    padding: 5rem 0 5rem 1.5rem;
    position: relative;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.header-about{
    font-size: 2rem;
    color: #f50057;
    margin-bottom: 30px;

}
.header-about h2{
   margin-bottom: 60px;

}


.text-zone-about p{
    margin-bottom: 15px;
    line-height: 1.5rem;
}


.text-zone-about{
    width: auto;
}
#myCanvas {
    margin: auto;
    width: 100%;
  }

.fake-big-3{
    font-size: 12rem;
    font-weight: 700;
    position: absolute;
    right:0px;
    top:-50px;
    color: #2d2d2e;
    letter-spacing: -10px;
    z-index: -999;
}
.fake-big-4{
    font-size: 12rem;
    font-weight: 700;
    position: absolute;
    left: 0px;
    bottom:0;
    color: #2d2d2e;
    letter-spacing: -10px;
    z-index: -999;
}

  @media screen and (min-width: 1200px){
    .section-about{
        flex-direction: row ;
        padding-left: 12rem;
        margin: 100px auto 0 ;
        width: 90%;
    }
    .header-work{
        width: 500px;
        font-size: 3rem;

    }
    .text-zone-about p{
        width: 600px;

    }
    .skills-charts{
        margin-right: 5%;

    }
    .fake-big-3{

    }
}
