.section-about{
    position: relative;
    margin-top: 100px;
    justify-content: center;
    align-items: center;
}

.header-about{
    font-size: 2rem;
    color: #f50057;
    margin-bottom: 30px;
    position: relative;

}
.header-about:hover{
    color: #f50057;
    animation-duration: 3s;
    animation: animation_hover 3s; 
}

@keyframes animation_hover{
    0%,   to {
        transform: translateY(0);
      }
    
      20% {
        transform: translateY(-30px);
      }
      40%{
        transform: translateX(30px);
      }
      60%{
        transform: translateZ(30px);
      }
      80%{
        transform: rotate(180deg);
      }
}
.header-about h2{
   margin-bottom: 60px;

}


.text-zone-about p{
    margin-bottom: 15px;
    line-height: 1.5rem;
}


.text-zone-about{
    width: 100%;
    margin-left: 20px;
    position: relative;
}
#myCanvas {
    margin: auto;
    width: 100%;
  }

.fake-big-3{
    font-size: 7rem;
    font-weight: 700;
    position: absolute;
    right:0px;
    top:-50px;
    color: #2d2d2e;
    letter-spacing: -10px;
    z-index: -999;
}
.fake-big-4{
    font-size: 7rem;
    font-weight: 700;
    position: absolute;
    left: 0px;
    top:-80px;
    color: #2d2d2e;
    letter-spacing: -10px;
    z-index: -999;
}
.skills-charts{
    position: relative;
    width: 100%;
}

  @media screen and (min-width: 1200px){
    .section-about{
       margin-left: 15rem;
    }
   
    .text-zone-about p{
        width: 600px;

    }
    .skills-charts{
        margin-right: 10%;

    }
    .section-about{
      display: grid;
      grid-template-columns: 50% 1fr;
      justify-content: center;
      align-items: center;
  }
}
